<div class="row">
    <div class="col-sm-6 col-lg-6" *ngFor="let doctor of doctors">
      <div class="brand-card">
        <div class="brand-card-header bg-facebook">
            <div class="font-weight-bold">
                <span class="text-uppercase text-white">{{ doctor.firstName }} {{ doctor.lastName }}</span>
                <div class="text-uppercase text-white small">{{ doctor.speciality }}</div>
            </div>
        </div>
        <div class="brand-card-body">
          <div>
            <div class="text-value">{{ doctor.education }}</div>
            <div class="text-uppercase text-muted small">Education</div>
          </div>
          <div>
            <div class="text-value">{{ doctor.rating }}</div>
            <div class="text-uppercase text-muted small">Rating</div>
          </div>
          <div>
            <br />
            <div class="text-uppercase small"><a (click)="openModel(doctor)" class="btn btn-primary" style="cursor: pointer">Book Appointment</a></div>
          </div>
        </div>
      </div>
    </div>
</div>


<div bsModal #primaryModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-primary" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Book an appointment</h4>
        <button type="button" class="close" (click)="primaryModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="col-sm-12">
          <div class="row">
            <div class="col-sm-4 text-uppercase small">
              Doctor's Name:
            </div>
            <div class="col-sm-8 text-uppercase small">
              <label *ngIf="selectedDoctorForAppointment !== null">{{ selectedDoctorForAppointment.firstName }} {{ selectedDoctorForAppointment.lastName }}</label>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-4 text-uppercase small">
              Speciality:
            </div>
            <div class="col-sm-8 text-uppercase small">
              <label *ngIf="selectedDoctorForAppointment !== null">{{ selectedDoctorForAppointment.speciality }}</label>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-4 text-uppercase small">
              Appointment Date & Time:
            </div>
            <div class="col-sm-8 text-uppercase small">
              <input type="date" class="form-control col-sm-6" [(ngModel)]="date"> <input type="time" class="form-control col-sm-6" [(ngModel)]="time">
            </div>
          </div>

        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="closeModal()">Close</button>
        <button type="button" class="btn btn-primary" (click)="bookAppointment()">Book Appointment</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->