<div class="app-body">
  <main class="main d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-md-6 mx-auto">
          <div class="card mx-4">
            <div class="card-body p-4">
              <form>
                <h1>Patient Registration</h1>
                <p class="text-muted">Create your account</p>
                <alert type="danger" *ngIf="isError">
                  {{ errorMessage }}
                </alert>
                <alert type="success" *ngIf="isSuccess">
                  {{ successMessage }}
                </alert>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="icon-user"></i></span>
                  </div>
                  <input type="text" class="form-control" [(ngModel)]="email" name="email" id="userNameSignUpField" placeholder="Email" required>
                </div>
                <!--<div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text">@</span>
                  </div>
                  <input type="text" class="form-control" placeholder="Email" autocomplete="email" required>
                </div>-->
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="icon-lock"></i></span>
                  </div>
                  <input type="password" class="form-control" [(ngModel)]="password" name="password" [type]="passwordHide ? 'password' : 'text'" placeholder="Password" autocomplete="new-password" required>
                </div>
                
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="icon-user"></i></span>
                  </div>
                  <input type="text" class="form-control" [(ngModel)]="firstName" name="firstName" id="firstNameField" placeholder="First Name" required>
                </div>

                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="icon-user"></i></span>
                  </div>
                  <input type="text" class="form-control" [(ngModel)]="lastName" name="lastName" id="lastNameField" placeholder="Last Name" required>
                </div>

              
                <div class="card-footer p-4">
                  <div class="row">
                    <div class="col-6">
                      <button class="btn btn-block btn-warning" type="button" (click)="goBack()">Back</button>
                    </div>
                    <div class="col-6">
                      <button class="btn btn-block btn-success" type="button" (click)="createProfile()">Create Account</button>
                    </div>
                  </div>
                </div>
              </form>
            </div>
            <div class="card-footer p-4">
              <div class="row">
                <div class="col-6">
                  <button class="btn btn-block btn-facebook" type="button"><span>facebook</span></button>
                </div>
                <div class="col-6">
                  <button class="btn btn-block btn-twitter" type="button"><span>twitter</span></button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
