<div class="animated fadeIn">
    <div class="row">
        <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> Appointments
        </div>
        <div class="card-body">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Sr.No.</th>
                <th>Patient Name</th>
                <th>Appointment Date</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let appointment of appointments; let loopIndex = index">
                <td>{{ loopIndex + 1 }}</td>
                <td>{{ appointment.patientName }}</td>
                <td>{{ appointment.appointmentDate }}</td>
              </tr>
            </tbody>
          </table>
          <!-- ul class="pagination">
            <li class="page-item"><a class="page-link" href="#">Prev</a></li>
            <li class="page-item active">
              <a class="page-link" href="#">1</a>
            </li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">4</a></li>
            <li class="page-item"><a class="page-link" href="#">Next</a></li>
          </ul -->
        </div>
      </div>
    </div>
    </div>
</div>